.navbar {
	margin-bottom: 0px;
	padding: 0px;
}

#intro, #projects, #about, #contact {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15%;
	padding-right: 15%;
}

.img-nav {
	max-width: 60%;
}

.navbar-brand {
	padding: 5px;
	width: 50%
}

.cleared {
	clear: both;
}

#intro {
	background-color: #474e5d; /* blueish */
	color: #ffffff;
}

#intro img {
	height: 250px;
	width: 250px;
}

#intro h1 {
	padding-top: 75px;
}

#about {
	background-color: #1abc9c;
	color: #ffffff;
}

#about h1 {
	text-align: center;
}

#projects {
	background-color: #474e5d;
	color: #ffffff;
}

#projects img, .modal-body img {
	width: 300px;
	height: 300px;
}

#contact {
	background-color: #ECECEA;
}

#contact > div{
	text-align: left;
}

/*
Form styles
*/

fieldset {
	text-align: left;
}

/*
Modal styles
*/

#projects img:hover {
	opacity: .5;
}

.close-modal {
	position: absolute;
	top: 15px;
	right: 15px;
}


/*
	Makes a animating navigation bar, that shrinks when scrolling down
*/
.affix li{
	padding:0px;
	font-size: 14px;

	-webkit-transition:padding 0.2s linear;
	-moz-transition:padding 0.2s linear;  
	-o-transition:padding 0.2s linear;         
	transition:padding 0.2s linear;  

	-webkit-transition:font-size 0.1s linear;
	-moz-transition:font-size 0.1s linear;  
	-o-transition:font-size 0.1s linear;         
	transition:font-size 0.1s linear;
}

.affix-top li{
	padding-top:15px;
	padding-bottom:15px;
	font-size: 20px;

	-webkit-transition:padding 0.2s linear;
	-moz-transition:padding 0.2s linear;  
	-o-transition:padding 0.2s linear;         
	transition:padding 0.2s linear; 

	-webkit-transition:font-size 0.1s linear;
	-moz-transition:font-size 0.1s linear;  
	-o-transition:font-size 0.1s linear;         
	transition:font-size 0.1s linear; 
}

.affix button{
	margin-top:10px;
	margin-bottom:10px;

	-webkit-transition:margin 0.2s linear;
	-moz-transition:margin 0.2s linear;  
	-o-transition:margin 0.2s linear;         
	transition:margin 0.2s linear;  
}

.affix-top button{
	margin-top:20px;
	margin-bottom:20px;

	-webkit-transition:margin 0.2s linear;
	-moz-transition:margin 0.2s linear;  
	-o-transition:margin 0.2s linear;         
	transition:margin 0.2s linear; 
}    


.affix img {
	width: 20%;
}

.affix-top img {
	width: 60%;
}
