.navbar {
	margin-bottom: 0px;
	padding: 0px;
}

#frame .container-fluid {
	padding: 15px;
}

.img-nav {
	max-width: 30%;
}

.navbar-brand {
	padding: 5px;
}

#intro {
	background-color: #474e5d; /* blueish */
	color: #ffffff;
}

#intro img {
	height: 250px;
	width: 250px;
}

#intro h1 {
	padding-top: 50px;
}

#about {
	background-color: #1abc9c;
	color: #ffffff;
}

#about h1 {
	text-align: center;
}

#projects {
	background-color: #474e5d;
	color: #ffffff;
}

#projects img {
	width: 300px;
	height: 300px;
}

#contact {
	background-color: #ECECEA;
}

/*
Form styles
*/

.form-control {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}



/*
	Makes a animating navigation bar, that shrinks when scrolling down
*/
.affix li{
	padding:0px;
	font-size: 14px;

	-webkit-transition:padding 0.2s linear;
	-moz-transition:padding 0.2s linear;  
	-o-transition:padding 0.2s linear;         
	transition:padding 0.2s linear;  

	-webkit-transition:font-size 0.1s linear;
	-moz-transition:font-size 0.1s linear;  
	-o-transition:font-size 0.1s linear;         
	transition:font-size 0.1s linear;
}

.affix-top li{
	padding-top:15px;
	padding-bottom:15px;
	font-size: 20px;

	-webkit-transition:padding 0.2s linear;
	-moz-transition:padding 0.2s linear;  
	-o-transition:padding 0.2s linear;         
	transition:padding 0.2s linear; 

	-webkit-transition:font-size 0.1s linear;
	-moz-transition:font-size 0.1s linear;  
	-o-transition:font-size 0.1s linear;         
	transition:font-size 0.1s linear; 
}

.affix img {
	width: 10%;
}

.affix-top img {
	width: 30%;
}
